{{#> frame}}
<div class="col-12 bg-light rounded-3">
  <div class="py-5">
    <h1 class="display-5 fw-bold">{{t "desc.title"}}</h1>
    <p class="col-md-12 fs-4">
      {{t "desc.main"}}
    </p>
  </div>
</div>

<div class="col-12 card-group">
  <div class="card">
    <img src="/assets/pics/code-res.jpg" class="card-img-top" alt="code in a screen">
    <div class="card-body pb-6">
      <h2 class="card-title"><i class="bi bi-file-earmark-code me-2"></i>{{t "title.dev"}}</h2>
      <p class="card-text">{{t "desc.dev"}}</p>
    </div>
    <div class="card-footer text-end"><a href="/example/dev" class="btn btn-primary">{{t "labels.enter"}}<i class="bi bi-box-arrow-up-right ms-2"></i></a></div>
  </div>
  <div class="card">
    <img src="/assets/pics/keyboard-res.jpg" class="card-img-top" alt="keyboard">
    <div class="card-body pb-6">
      <h2 class="card-title"><i class="bi bi-pc-display-horizontal me-2"></i>{{t "title.admin"}}</h2>
      <p class="card-text">{{t "desc.admin"}}</p>
    </div>
    <div class="card-footer text-end"><a href="/example/dev" class="btn btn-primary">{{t "labels.enter"}}<i class="bi bi-box-arrow-up-right ms-2"></i></a></div>
  </div>
</div>
{{/frame}}