{{#> frame}}
<div class="col-12 bg-light rounded-3">
  <h1 class="display-5 fw-bold">{{t "desc.title"}}</h1>
  <p class="col-md-12 fs-4">
    {{t "desc.body"}}
  </p>
</div>
<div class="col-12 card-group">
  <div class="card">
    <div class="card-body pb-6">
      <h2 class="card-title"><i class="bi bi-file-earmark-code me-2"></i>{{t "title.section01"}}</h2>
      <p class="card-text">{{t "desc.section01"}}</p>
    </div>
    <div class="card-footer text-end"><a href="{{urlSet "section"}}" class="btn btn-primary">{{t "labels.enter"}}<i class="bi bi-box-arrow-up-right ms-2"></i></a></div>
  </div>
  <div class="card">
    <div class="card-body pb-6">
      <h2 class="card-title"><i class="bi bi-pc-display-horizontal me-2"></i>{{t "title.section02"}}</h2>
      <p class="card-text">{{t "desc.section02"}}</p>
    </div>
    <div class="card-footer text-end"><a href="{{urlSet "section"}}" class="btn btn-primary">{{t "labels.enter"}}<i class="bi bi-box-arrow-up-right ms-2"></i></a></div>
  </div>
</div>
{{/frame}}